.BaseSelect {
  display: flex;
  flex-direction: column;
  position: relative;
  &__container {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    gap: 10px;
    z-index: 1050;
    color: black;
    border-radius: 6px;
    width: 320px;
    max-height: 400px;
    overflow-y: auto;
    &__item {
      padding: 10px;
      cursor: pointer;
       width: 100%;
       display: flex;
       gap: 4px;
       justify-content: space-between;
       img {
         height: 30px;
       }
       p {
         font-size: 16px;
       }
     }
    &__item:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}
